@{
    ViewData["Title"] = "Test - Data Loader";
}

<style>
    body {
        margin: 0;
        font-family: 'Poppins', Arial, sans-serif;
        background-color: #ffffff;
        color: #000000;
    }

    .navbar, nav {
        display: none !important;
    }

    .page-container {
        display: flex;
        height: 100vh;
        position: relative;
    }

    .nav-bar {
        width: 350px;
        height: 100vh;
        background-color: #2AA74A;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 40px;
        box-sizing: border-box;
        position: fixed;
        left: 0;
        top: 0;
    }

    .logo {
        width: 130px;
        height: auto;
        position: absolute;
        top: 0px;
        right: 20px;
        z-index: 10;
    }

    .nav-title {
        font-size: 30px;
        font-weight: 700;
        color: #FFF;
        margin-bottom: 30px;
        padding-left: 20px;
    }

    .nav-item {
        font-size: 18px;
        font-weight: 600;
        color: #FFF;
        padding-left: 30px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        .nav-item:hover {
            color: #000;
        }

    .nav-sub-item {
        font-size: 14px;
        font-weight: 400;
        color: #FFF;
        padding-left: 50px;
        margin-bottom: 5px;
    }

    .content {
        flex: 1;
        padding: 40px;
        box-sizing: border-box;
        height: 100vh;
        overflow-y: auto;
        margin-left: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .congratulations-message {
        color: #2AA74A;
        font-family: 'Poppins', Arial, sans-serif;
        font-size: 40px; /* Reduced the font size */
        font-weight: 600;
        line-height: 40px;
        text-align: left; /* Changed to left align */
        margin-bottom: 20px;
    }

    .info-message {
        color: #000;
        font-family: 'Poppins', Arial, sans-serif;
        font-size: 20px; /* Reduced the font size */
        font-weight: 500;
        line-height: 40px;
        text-align: left; /* Changed to left align */
        margin-bottom: 40px;
    }

    .take-test-button {
        width: 250px;
        height: 55px;
        border-radius: 30px;
        background: #2AA74A;
        color: #FFF;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        line-height: normal;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        padding: 15px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
        top: 460px;
        right: 20px;
    }

        .take-test-button:hover {
            background: #218C3C;
            transform: scale(1.05);
            color: #FFF;
        }

    .question {
        font-size: 20px;
        font-weight: bold;
    }

    .answers {
        margin-left: 45px;
    }

    .choose {
        color: #2AA74A;
        font-weight: bold;
    }

    .next-button {
        width: 150px;
        height: 40px;
        background: #2AA74A;
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        line-height: normal;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        border-radius: 30px;
        margin-top: 30px;
        padding: 10px;
    }

        .next-button:hover {
            background:   #218C3C;
        }

    footer {
        display: none;
    }
</style>

<div class="page-container">
    <div class="nav-bar">
        <div class="nav-title">DataLoader</div>
        <div class="nav-item">Overview</div>
        <div class="nav-sub-item">Introduction to Data Loaders</div>
        <div class="nav-sub-item">Why They Matter</div>

        <div class="nav-item">Core Concepts</div>
        <div class="nav-sub-item">What is a Data Loader?</div>
        <div class="nav-sub-item">Key Features</div>

        <div class="nav-item">Architecture</div>
        <div class="nav-sub-item">Components</div>
        <div class="nav-sub-item">Workflow</div>

        <div class="nav-item">Implementation</div>
        <div class="nav-sub-item">Tools & Libraries</div>
        <div class="nav-sub-item">Code Examples</div>

        <div class="nav-item">Challenges & Solutions</div>
        <div class="nav-sub-item">Common Issues</div>
        <div class="nav-sub-item">Best Practices</div>

        <div class="nav-item nav-item-use-cases">Use Cases</div>
        <div class="nav-sub-item">Machine Learning</div>
        <div class="nav-sub-item">Data Pipelines</div>
    </div>

    <div class="content">
        <form method="post" action="/Lesson/SubmitAnswers2">
            <div class="question">
                <h4 class="choose">
                    Which of the following tools is commonly used for creating data loaders in Python?
                </h4>
                <div class="answers">
                    <label>
                        <input type="radio" name="answer1" value="a" /> TensorFlow
                    </label><br>
                    <label>
                        <input type="radio" name="answer1" value="b" /> PyTorch
                    </label><br>
                    <label>
                        <input type="radio" name="answer1" value="c" /> Pandas
                    </label><br>
                    <label>
                        <input type="radio" name="answer1" value="d" /> All of the above
                    </label><br>
                </div>
            </div>

            <div class="question">
                <h4 class="choose">What is prefetching in the context of data loaders?</h4>
                <div class="answers">
                    <label>
                        <input type="radio" name="answer2" value="a" /> Loading the next batch of data while the current one is being processed
                    </label><br>
                    <label>
                        <input type="radio" name="answer2" value="b" /> Sorting data before loading
                    </label><br>
                    <label>
                        <input type="radio" name="answer2" value="c" /> Validating data for errors before loading
                    </label><br>
                    <label>
                        <input type="radio" name="answer2" value="d" /> Saving processed data to disk
                    </label><br>
                </div>
            </div>

            <div class="question">
                <h4 class="choose">
                    Which challenge can a data loader help solve?
                </h4>
                <div class="answers">
                    <label>
                        <input type="radio" name="answer3" value="a" /> Handling missing data
                    </label><br>
                    <label>
                        <input type="radio" name="answer3" value="b" /> Streaming data from large datasets
                    </label><br>
                    <label>
                        <input type="radio" name="answer3" value="c" /> Writing queries for databases
                    </label><br>
                    <label>
                        <input type="radio" name="answer3" value="d" /> Training machine learning models
                    </label><br>
                </div>
            </div>
            <button class="next-button">Submit</button>
        </form>
    </div>

    <img src="/images/logo2.png" alt="DotLearn Logo" class="logo">
</div>
